# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tauri
src-tauri/target/
src-tauri/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

package-lock.json
package.json
helper.txt

# Android
capacitor.config.*
android/


